body {
  text-align: center;
}

.fpImg img {
  max-width: 80%;
  height: auto;
  background-size: contain;
}
.fpImg div {
  margin: auto;
  max-width: 80%;
  height: auto;
}

.fpImages {
  display: flex;
}
